PORT=7575
NODE_ENV=production
HEBITS_RSS_URL=
QBIT_URL=http://192.168.0.13:30024
QBIT_USER=admin
QBIT_PASS=
JELLYFIN_URL=http://192.168.0.13:30013
JELLYFIN_API_KEY=
JELLYFIN_USER_ID=
TAUTULLI_URL=http://192.168.0.13:30047
TAUTULLI_API_KEY=
JELLYSTAT_URL=http://192.168.0.13:30176
JELLYSTAT_API_KEY=
TRUENAS_URL=https://192.168.0.13
TRUENAS_API_KEY=
CONTROL_PANEL_URL=http://192.168.0.139:3500
CONTROL_PANEL_PASS=
CONTROL_PANEL_HOST=
WEATHER_LAT=31.93
WEATHER_LON=34.87
DEFAULT_STOCKS=AKAM,^GSPC,QQQ,VOO,NVDA,MSFT,GOOGL
UNIFI_URL=https://192.168.0.1
UNIFI_USER=
UNIFI_PASS=
CALENDAR_SOURCE_URL=

# AdGuard
ADGUARD_URL=http://192.168.0.68
ADGUARD_USER=
ADGUARD_PASS=

# Fitness App
FITNESS_URL=http://192.168.0.139:3000
FITNESS_USER=ben

# Frigate
FRIGATE_URL=http://192.168.0.13:30194
